*{
   font-family:Kumbh Sans;
   font-size: 18px;
}
body {
    background-color: #17162E;
    color: #FFFFFF;
}

.movies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie{
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 25px 5px 25px;
    background-color: #1D1C3B;
    margin: 30px 0 30px 0;
    border-radius: 15px;
    
}

.movie-image{
    display: flex;
    align-items: center;
    margin: 0 5px 0 5px;
}

.movie-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movie-image img{
    width: 100px;
    height: 100px;
    border-radius: 65px;
}
.movie-informations{
    width: 350px;
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: space-evenly;
}

.movie-description{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 25px 0 25px 0;
    color: #ACACAC;
}

.container-titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 15px 0;
}
/* 
.container-titulo div{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.container-titulo .input-pesquisa{
    background-color: #8A8A8A;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    padding-right: 30px;
    margin: 0 0 15px 0;
    border: none;
}

.input-container {
    position: relative;
    display: inline-block;
  }

  /* Estilizando o botão de pesquisa */
  .button-pesquisa {
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #8A8A8A;
  } 

  /* Estilizando o campo de entrada */
   .search-input { 
     padding-right: 30px; /*Adiciona espaço para o botão de pesquisa  */
     width: 200px;/* Defina uma largura para o campo de entrada */
   } 

/*






.container-card{
    display: flex;
    justify-content: center;
}



.container-nome-filme{
    padding: 10px 0 10px 0;
}
.container-estrela-favorito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}




/* 
  div-favorito{
    background-color: #17162E;
  }  */